<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<%- include('../partials/navbar.ejs') %>

		<div class="mx-auto text-center p-5">
			<h1 class="my-5 text-center">
				Man must explore, and <br />this is exploration at its <br />greatest
			</h1>
			<h3>Problems look mighty small from 150 miles up</h3>
			<h5>Posted by Start Bootstrap on September 16, 2023</h5>
		</div>

		<%- include('../partials/footer.ejs') %>
	</body>
</html>
